<form (ngSubmit)="onSubmit()" #heroForm="ngForm" *ngIf="heroe">
<ion-row>
  <ion-col>
    <ion-card>
      <!-- <ion-img class="icon-small" [src]="src"></ion-img> -->
      <ion-card-header>
        <ion-card-title> Hero Name : {{ heroe.name }} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label> Insert Name : </ion-label>
          <ion-input
            [(ngModel)]="heroe.name"
            placeholder="name"
            #name='ngModel'
            name="name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label> Insert ID : </ion-label>
          <ion-input
            [(ngModel)]="heroe.id"
            placeholder="id"
            #id='ngModel'
            name="id"
          ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button type='submit'> Submit</ion-button>
  </ion-col>
</ion-row>

</form>