
<!--Start of Tawk.to Script-->

  <!--End of Tawk.to Script-->

<ion-content [fullscreen]="true">

  

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Study Session</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Pronto Para Criar App</strong>
    <p>
      Componentes do Ionic

      <!--  -->
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">
        UI Components
      </a>
    </p>


    

    
      <ion-button (click)='loadImageFromDevice()'>
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
        {{ text }}
        
      </ion-button>
  
    
    

    <ion-button (click)="changeText()">
      Click to Change Text</ion-button
    >

    <ion-grid>
      <ion-row>
       
        <ion-col *ngFor="let heroi of heroes" (click)='selectHero(heroi)' >
          <ion-card [class.selected]='heroi === selectedHero'>
            
            <ion-card-header>
              <ion-card-title> Hero Name : {{heroi.name}} </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{heroi.id}}
              <ion-img style="height: 5%; width: 5%;" [src]="srcFirstCard"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      
      <app-heroe-details [heroe]="selectedHero"></app-heroe-details>

    </ion-grid>
  
  <!-- <ion-img class="icon-small" [src]="src"></ion-img> -->
   <!-- 'FOR' EXAMPLE  -->
  <!-- IF EXAMPLE AND COMPONENT -->
  </div>
</ion-content>
